.highlight1 {
  background-color:yellow;
}

.highlight2 {
  background-color:red;
}

.highlight3 {
  background-color:blue;
}

.highlight4 {
  background-color:pink;
}

.highlight5 {
  background-color:green;
}

.highlight6 {
  background-color:cyan;
}

.highlight7 {
  background-color:purple;
}

